<div class="side-bar" [ngClass]="{'expanded': isSidebarExpanded, 'collapsed': !isSidebarExpanded}">
  <div class="sidebar-toggle-container">
    <button class="toggle-sidebar" (click)="toggleSidebar()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"/>
      </svg>
    </button>
  </div>
  <div class="side-bar-content">
    <nav class="side-bar-component">
      <ul class="menu-items">
        <li class="menu-item" *ngFor="let item of menuItems">
          <a [routerLink]="item.route" class="menu-item-link">
            {{ item.text }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
