<ng-container *ngIf="showHeaderFooter">
  <app-header></app-header>
</ng-container>

<!-- N'afficher la barre latérale que si showHeaderFooter est true (pas sur les pages login/signup) -->
<ng-container *ngIf="showHeaderFooter">
  <app-side-bar></app-side-bar>
</ng-container>

<div class="app-container" [ngClass]="{'no-sidebar': !showHeaderFooter}">
  <div class="content-wrapper">
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<ng-container *ngIf="showHeaderFooter">
  <app-footer></app-footer>
</ng-container>
