<main class="main-frame">
    <div class="container">
        <div class="heading-1">
            <h1 class="main-heading">
                {{ mainTitle }}
            </h1>
        </div>
        <div class="container2">
            <p class="subheading">
                {{ subTitle }}
            </p>
        </div>
        <div class="component-1">
            <div class="container3" (click)="startLearning()">
                <div class="text">Commencer</div>
            </div>
        </div>
    </div>

</main>
